body {
    background-color: #141414;
    color: #FFFFFF;
    overflow: hidden;
    margin: 0px;
}

.background-container {
    position: absolute;
    overflow:hidden;
    width: 400vw;
    height: 500vh;
    rotate: -20deg;
    background-image: url("images/MoriWebBackground.webp");
    background-repeat: repeat;
    background-size: 1080px;

    animation: slide 50s infinite linear;
}

/* .inner-background-container {
    background-image: url("images/MoriWebBackground.webp");
    background-repeat: repeat-x;
    background-size: contain;
    width: 5076px;
    animation: slide 5s infinite linear;
} */

@keyframes slide{
  0% {
    transform: translateX(0%) translateY(-30%);
  }
  100% {
    transform: translateX(-1080px) translateY(-30%);
  }
}