@font-face {
    font-family: 'ZZZ basic';
    src: url(/fonts/ZZZbasic-font.ttf) format("truetype");
}

@font-face {
    font-family: 'ZZZ glifs';
    src: url(/fonts/ZZZA-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'ZZZ glifs B';
    src: url(/fonts/ZZZSystem-Regular.tff) format("truetype");
}

body {
    background-color: #141414;
    color: #FFFFFF;
    overflow: hidden;
    margin: 0px;
}

h1 {
    color: #FFFFFF;
    font-family: 'ZZZ basic', sans-serif;
    font-size: clamp(1.475rem, 1.5045rem + 0.4818vw, 2rem);
}

h2 {
    color: #FFFFFF;
    font-family: 'ZZZ basic', sans-serif;
    font-size: clamp(1.5rem, 1.3636rem + 0.5455vw, 1.8rem);
    text-align: center;
}

h3 {
    color: #FFFFFF;
    font-family: 'ZZZ basic', sans-serif;
    font-size: clamp(1.25rem, 1.1364rem + 0.4545vw, 1.5rem);
}

p {
    color: #FFFFFF;
    font-family: 'ZZZ basic', sans-serif;
    font-size: calc(0.65VW + 1.15VH);
}

.yellow {
    color:#FECF13;
}

.purple {
    color:#6F6FB3;
}

body {
    background-color: #141414;
    color: #FFFFFF;
    overflow: hidden;
    margin: 0px;
}

.background-container {
    position: absolute;
    overflow: hidden;
    width: 600vw;
    height: 600vh;
    rotate: -20deg;
    background-image: url("images/MoriWebBackground.webp");
    background-repeat: repeat;
    background-size: 1080px;

    animation: slide 50s infinite linear;
}

@keyframes slide{
  0% {
    transform: translateX(270px) translateY(-40%);
  }
  100% {
    transform: translateX(-810px) translateY(-40%);
  }
}

.slider-container {
    position: fixed;
}

.purple-slider {
    height: 12.5VH;
    width: 100%;
    background-color: #6F6FB3;
    color: #FFFFFF;
    position: fixed;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.purple-scroller {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    width: max-content;
    height: max-content;
    animation: left-to-right 20s linear reverse infinite;
}

.purple-slider-text {
    overflow: clip;
    color: #FFFFFF;
    font-family: 'ZZZ glifs', sans-serif;
    font-size: 3rem;
}

.filler-slider {
    background-color: #141414;
    height: 16.321VH;
    width: 100%;
    color: #FFFFFF;
    margin: auto;
    padding: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.filler-scroller {
    display: flex;
    width: max-content;
    height: 15vh;
    animation: left-to-right-filler 20s linear infinite;
}

.yellow-thins {
    height: 5.77VH;
    width: 100%;
    background-color: #FECF13;
    color: #FFFFFF;
    margin: 0px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    display: flex;
}

.main-scroller {
    height: max-content;
    overflow: clip;
    align-content: center;
    gap: 2rem;
}

.scroller {
    width: 100%;
    overflow: clip;
    align-items: center;
    gap: 2rem;
}

.inner-scroller {
    display: inline-flex;
    gap: 2rem;
    padding-left: 2rem;
    animation: yellow-left-to-right 30s linear reverse infinite;
}

.item {
    overflow: clip;
    display: inline-flex;
}

.yellow-scroller-backdrop {
    height: 18.48VH;
    width: 100%;
    background-color: #252525;
    margin: 0px;
    padding: 0px;
    position: fixed;
    transform: rotate(70deg) translateY(493px);
}

@keyframes left-to-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes yellow-left-to-right {
    0% {
    transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes left-to-right-filler {
    from {
        transform: translateX(2.5%);
    }
    to {
        transform: translateX(-2.85%);
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(-50%)
    }
}

.slide_to_basic {
    transform: translateX(0%);
}

#slider1 {
    transform: rotate(70deg) translateY(656.574px);
}

#arcane-slider {
    transform: rotate(70deg) translateY(765.362px);
}

#slider2 {
    transform: rotate(70deg) translateY(891.79px);
}

#thin1 {
    transform: rotate(70deg) translateY(545px) translateX(375px);
}

#thin2 {
    transform: rotate(70deg) translateY(480px) translateX(375px);
}

.navigation-window {
    border: 5px solid;
    border-radius: 50px;
    background-color: #123412;
    height: 11.55VH;
    width: 65%;
    margin-left: 26VW;
    margin-top: 2.3VH;
    position:relative;
    top: 0px;
    align-content: center;
}

.navigation-button {
    padding: 0;
    border: none;
    background: none;
    /* margin-inline-start: 90px; */
    margin-inline-start: 5.85VW;
    float: left;
    text-align: center;
    font-size: 2.08VW;
    font-family: 'ZZZ basic', sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}


@media (max-width: 1500px) {
    #slider1 {
        width: 125%;
        transform: rotate(70deg) translateY(605.5px);
    }

    #arcane-slider {
        width: 115%;
        transform: rotate(70deg) translateY(667px);
    }

    #slider2 {
        width: 115%;
        transform: rotate(70deg) translateY(788.1px);
    }

    .yellow-scroller-backdrop {
        transform: rotate(70deg) translateY(300px) translateX(300px);
    }

    #thin1 {
        transform: rotate(70deg) translateY(350px) translateX(300px);
    }

    #thin2 {
        transform: rotate(70deg) translateY(285px) translateX(300px);
    }
}

@media (max-width: 992px) {
    h1 {
        color: #FFFFFF;
        font-family: 'ZZZ basic', sans-serif;
        font-size: 25px;
    }

    /* h2 {
        color: #FFFFFF;
        font-family: 'ZZZ basic', sans-serif;
        font-size: clamp(1.5rem, 1.3636rem + 0.5455vw, 1.8rem);
        text-align: center;
    }

    h3 {
        color: #FFFFFF;
        font-family: 'ZZZ basic', sans-serif;
        font-size: clamp(1.25rem, 1.1364rem + 0.4545vw, 1.5rem);
    }

    p {
        color: #FFFFFF;
        font-family: 'ZZZ basic', sans-serif;
        font-size: calc(0.65VW + 1.15VH);
    } */

    .purple-slider {
        height: 8VH;
    }

    .purple-slider-text {
        /* was 3 em */
        font-size: 1.75em;
    }

    .filler-slider {
        /* 16.321 */
        height: 12VH;
    }

    .filler-scroller {
        /* was 15 vh */
        height: 10vh;
    }

    #slider1 {
        width: 200%;
        transform: rotate(70deg) translateY(755.148px) translateX(200px);
    }

    #arcane-slider {
        width: 200%;
        transform: rotate(70deg) translateY(826.724px) translateX(200px);
    }

    #slider2 {
        width: 200%;
        transform: rotate(70deg) translateY(912.7px) translateX(200px);
    }

    .yellow-thins {
        height: 4.77VH;
    }

    .yellow-scroller-backdrop {
        width: 200%;
        height: 16.48VH;
        transform: rotate(70deg) translateY(600px) translateX(200px);
    }

    #thin1 {
        width: 200%;
        transform: rotate(70deg) translateY(650px) translateX(200px);
    }

    #thin2 {
        width: 200%;
        transform: rotate(70deg) translateY(585px) translateX(200px);
    }
}

@media (max-width: 720px) {
    #slider1 {
        width: 200%;
        transform: rotate(70deg) translateY(605.148px) translateX(200px);
    }

    #arcane-slider {
        width: 200%;
        transform: rotate(70deg) translateY(676.724px) translateX(200px);
    }

    #slider2 {
        width: 200%;
        transform: rotate(70deg) translateY(762.7px) translateX(200px);
    }

    .yellow-thins {
        height: 4.77VH;
    }

    .yellow-scroller-backdrop {
        width: 200%;
        height: 16.48VH;
        transform: rotate(70deg) translateY(450px) translateX(200px);
    }

    #thin1 {
        width: 200%;
        transform: rotate(70deg) translateY(500px) translateX(200px);
    }

    #thin2 {
        width: 200%;
        transform: rotate(70deg) translateY(435px) translateX(200px);
    }
}


@media (max-width: 520px) {
    #slider1 {
        width: 200%;
        transform: rotate(70deg) translateY(605.148px) translateX(350px);
    }

    .yellow-scroller-backdrop {
        visibility: hidden;
    }

    #thin1 {
        visibility: hidden;
    }

    #thin2 {
        visibility: hidden;
    }
}
